<p>tercer-dia works!</p>

<h1>{{ExampleService.var_service}}</h1>
<input
    type="text"
    [(ngModel)]="name"
    class="form-control"
>
<button class="BTN button" (click)="ExampleService.onclickbutton(name)">click al servicio</button>

<div style="height: 500px;overflow:auto;">
<table class="">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itemuser of users; let i =index;">
            <th>{{i+1}}</th>
            <th>{{editartexto(itemuser.title)}}</th>
            <th>{{itemuser.body}}</th>
            
        </tr>
    </tbody>

</table>
</div>