<!-- <p>segundo-dia works!</p>
<button class="btn btn-primary" (click)="clickButton('success')">cambios</button>
 

 
<div ngif="variable === 'success'">
 </div>

 <div>
    boton usando ngif
 </div>

 <div>
    boton utilizandocon una clase con una variable
 </div>

 <div>
    boton utilizando con ngClass
    <button class="btn" [[ngClass]="{'btnsucess': true}"]
 </div>

 <div>
    <h3>Boton utilizando operador ternario</h3>
    <button [class]="variable === 'hola soy variable nueva'">{{variable}}</button>
 </div>

 <hr>
 <ul>
    
 </ul>
 
 <div *ngFor="let itemuser of user">
        <
</div> -->
<!-- <input type="text" class="form-control" [(ngModel)]="variable"> -->

<h1>INPUTS</h1>
