.card{
    background-color:rgb(124, 157, 255);
    h5{
        color:darkviolet;
        font-size: 32px;
        font-weight: 300;
    }
    p{
        color: black;
        font-size: 16px;
    }
}